@page "/"
@using FrostAura.Clients.PointsKeeper.Shared.Models
@using FrostAura.Clients.PointsKeeper.Components.Enums.DynamicForm

<PageTitle>Dashboard</PageTitle>

@code{
    object exampleModel = new {
        name = "Dean",
        surname = "Martin"
    };
    int selection = 0;
}

<EditForm Model="new object()">
    <InputSelect TValue="int" @bind-Value="selection">
        <option value="1">Hello</option>
        <option value="2">World</option>
    </InputSelect>
</EditForm>

<br/>
<h3>Current Limitations / TODOs</h3>
<ul>
    <li>Styling of form components.</li>
    <li>Entity selector for complex types which are entities.</li>
    <li>Events for when values change.</li>
    <li>Per-element validation for complex types. Currently there is a single validation message for the entire complex type which doesn't work.</li>
    <li>Refactor contentservice injection to extensions in the components library.</li>
</ul>