@page "/"

<PageTitle>Dashboard</PageTitle>

@using FrostAura.Clients.PointsKeeper.Data
@using FrostAura.Clients.PointsKeeper.Shared.Models
@using FrostAura.Clients.PointsKeeper.Components.Enums.DynamicForm
@inject PointsKeeperDbContext dbContext
@inject IJSRuntime JsRuntime

@if (points == null)
{
    <p><em>Loading...</em></p>
}
else if (!points.Any())
{
    <hr>
    <p>No points yet. Let's capture some!</p>
}
else
{
    <div class="container">
        <div class="content">
            <div class="total">R @(Math.Round(GetTotalDonationsPerPoint() * GetTotalPoints() + GetTotalOnceOffDonations(), 2))</div>
            <div class="points">@GetTotalPoints() Points | @GetTotalOnceOffDonations() Once-Off</div>
        </div>
        <div id="metrics">
            <div>VS</div>
            <div id="empty-red-row">
                <div id="red-bar"></div>
            </div>
            <div id="teams-blue-row">
                <img src="https://via.placeholder.com/256x256" alt="Team 1 Logo" />
                <div>Team 1 Name</div>
                <div>Team 2 Name</div>
                <img src="https://via.placeholder.com/256x256" alt="Team 2 Logo" />
            </div>
            <div id="points-row">
                <div>Team 1 Points</div>
                <div>Points</div>
                <div>Team 2 Points</div>
            </div>
        </div>
    </div>
}
