@page "/"

<PageTitle>Dashboard</PageTitle>

@using FrostAura.Clients.PointsKeeper.Data
@using FrostAura.Clients.PointsKeeper.Shared.Models
@using FrostAura.Clients.PointsKeeper.Components.Enums.DynamicForm
@inject PointsKeeperDbContext dbContext
@inject IJSRuntime JsRuntime

@if (points == null)
{
    <p><em>Loading...</em></p>
}
else if (!points.Any())
{
    <hr>
    <p>No points yet. Let's capture some!</p>
}
else
{
    <div class="container">
        <div class="content">
            <div class="total">R @(Math.Round(GetTotalDonationsPerPoint() * GetTotalPoints() + GetTotalOnceOffDonations(), 2))</div>
            <div class="points">@GetTotalPoints() Points | @GetTotalOnceOffDonations() Once-Off</div>
        </div>
    </div>
}
