fa-dynamic-form {
    display: block;
}

fa-dynamic-form > div{
    color: green;
}

    fa-dynamic-form .validation-message {
        color: var(--fa-color-negative);
    }

fa-dynamic-field > div {
    padding-bottom: 15px;
    padding-top: 5px;
}