@inherits LayoutComponentBase

<PageTitle>FrostAura.Clients.PointsKeeper</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 title-bar">
            <span>Made with</span>
            &nbsp
            <span class="oi oi-heart"></span>
            &nbsp
            <span>by FrostAura.</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
